/* Your code goes here */
ul{
    padding: 0;
}
li{
    list-style-type: none;
    display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
h1{
    text-align: center;
}
body div {
    width: 600px;
    margin: auto;
}