/*

write your code here

*/
@media print {
    .tm-team-img {
        display: none;
    }
    .tm-sidebar {
        display: none;
    }
    
    .boxes {
        display: none;
    }
    .carousel-indicators {
        display: none;
    }
    
    #contact {
        display: none;
    }
    
    .img-contact-us {
        display: none;
    }

    body {
        text-align: center;
        background: none;
        padding: 0;
    }

    .tm-main-content {
        padding-top: 0;
        padding-bottom: 0;
        width: 700px;
        margin: auto;
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
    }

    .padding-medium {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 100%;
    }
    .padding-medium ol li a{
        color: #59bfff;
    }
    h2.tm-section-title{
        color: #00a2b5;
    }
    .tm-content-box {
        padding-top: 0px;
        padding-bottom: 0;
        margin: 0;
        
        max-width: 100%;
    }
    .tm-banner-text{
        letter-spacing:5px;
        word-spacing: 7px;
    }
    .tm-section-description{
     font-style: italic;
     font-weight: 300;
    }
    
    .carousel {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 100%;
    }

    footer.tm-footer {
        padding-top: 0;
        padding-bottom: 0;
        max-width: 100%;
    }

    footer.tm-footer p:only-of-type {
        margin-bottom: 0;
    }

    h2 {
        background-color: transparent;
        text-transform: uppercase;
        color: #00a2b5;
        font-weight: 200;
        padding-top: 10px;
    }

    .heading ol {
        list-style-type: none;
        text-align: left;
    }

    ol li:nth-of-type(2n) {
        text-align: right;
        right: 27%;
        position: relative;
        font-weight: 400;
    }

    ol li:nth-of-type(2n+1) {
        text-align: left;
        left: 20%;
        position: relative;
        font-weight: 400;
    }
}

@media screen {
.tm-nav-item-link:hover{
    background-color: lightskyblue ;
    color: #fff;
}
.tm-banner{
    background: linear-gradient(to top, lightskyblue, burlywood );
}
.tm-banner-inner{
background: white;
}
.tm-banner-text{
    text-shadow: 0px 2px 0px lightskyblue,0px 11px 2px lightgreen;
    letter-spacing:5px;
    word-spacing: 7px;
    animation-name: rotation;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes rotation{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(0deg);
    }

}
.tm-sidebar,.tm-content-box, .blocks{
    box-shadow: 0 0 11px rgba(61, 55, 61, 0.7);
}
.flex-2-col{
    display: flex;
    flex-direction: row-reverse;
    align-items: center ;
    text-align: left;
}
.tm-section-description{
     text-indent: 1.5em;
     font-style: italic;
}
.tm-section-title{
    text-align: center;
}

.tm-box-bg-title:hover{
    color: white;
    background-color:lightskyblue ;
}
section:before {
    border-top: 45px solid lightskyblue;
    border-right: 45px solid transparent;
    content: "";
}

.padding-medium h2 {
    color: lightskyblue;
    text-align: center;
}

.padding-medium ol {
    list-style-type: decimal-leading-zero;
}

.padding-medium ol li:hover::before {
    content: ">";
    color: red;
    font-weight: bold;
}
.padding-medium ol li a:hover {
    color: red;
    font-weight: bold;
}

.padding-medium ol li:nth-child(1)::after {
    content: "New";
    color: red;
    font-weight: bold;
    font-size: 8pt;
    vertical-align: top;
    font-variant: small-caps;
}

.padding-medium ol li:nth-child(3)::after {
    content: "New";
    color: red;
    font-weight: bold;
    font-size: 8pt;
    vertical-align: top;
    font-variant: small-caps;
} 

h2+p:first-of-type{
    text-indent: 1.5em;
    font-style: italic;
    line-height: 1.5;
}

.boxes .box-work {
    padding: 10px;
}

.boxes .box-work p {
    font-style: italic;
    text-indent: 0px;
}

.blocks li p::first-letter {
    font-weight: bold;
}

.blocks li h2:first-line:nth-child(2n+1){
    font-weight: bold;
    color: #000000;
}

.blocks li:nth-child(2n) {
    background-color: lightskyblue;
    color: #fff;
}

.box-work {
    padding: 10px;
}
#contact h2{
    text-align: right;
}
#contact_name,#contact_email,#contact_subject{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid lightskyblue;
}
.form-control:focus{
    background: lightskyblue ;
    caret-color: white;
}
#contact_subject:focus{
    background: lightskyblue ;
    caret-color: white;
}
#contact_subject{
    background: url(../img/email-icon.png) right 10px bottom 10px no-repeat;
    background-size: 22px;
    border-top: lightskyblue;
}
.submit-btn {
    color: lightskyblue ;
    background: #ffffff;
    border: 2px solid ;
    border-radius: 0 0 0 0;
    text-align: center;
    float: right;
    width: 120px;
}
.submit-btn:hover{
    background: lightseagreen;
    border: 2px solid #20b2ab;
}
}