$background-clr: #ffffff;
$zero-px: 0px;
$image: url("../img/m-h-day.jpg");
$main-font-text: 'Source Sans Pro', sans-serif;
$header-text-code : #2c2f3c;
$wrapped-text-code: #14A0C7;
$text-code: #21232E;
$logo-text: 'Hind', sans-serif;
$btn-color: #699900;
$section-color-text: #BBBEC9;
$section-banner-background: linear-gradient(to right, #699902,#3260c6);
$section-footer-color: $section-color-text;
$peaks:#ABB2B9;
$color-link: white;

