$background-clr: #21232E;
$zero-px: 0px;
$image: url("../img/m-h-night.jpg");
$main-font-text: 'Source Sans Pro', sans-serif;
$header-text-code : white;
$color-link: white;
$wrapped-text-code: #FF4E33;
$text-code: #3B3F50;
$logo-text: 'Hind', sans-serif;
$btn-color: #E3AC00;
$section-color-text: #BBBEC9;
$section-banner-background: linear-gradient(90deg, rgba(222,163,5,1) 0%, rgba(150,50,79,1) 100%);
$section-footer-color: $section-color-text;
$peaks: white;